/Unsupervised/TopicModelingPoints20/matrix.npy
/Unsupervised/TopicModelingPoints20/vacancies_test.csv
/Unsupervised/TopicModelingPoints20/vacancies_train.csv
/Unsupervised/TopicModelingPoints20/vacancy_skills.csv
